<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932167417845-e1rvl1qmva76mt3hma9js679u9f8sru4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932167417845-e1rvl1qmva76mt3hma9js679u9f8sru4</string>
	<key>API_KEY</key>
	<string>AIzaSyA8yhVOfpdjLGQUl7_udO8CSFsRpBJImo4</string>
	<key>GCM_SENDER_ID</key>
	<string>932167417845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-c7833</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-c7833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932167417845:ios:6436e1d3f92cc5a0de2abc</string>
</dict>
</plist>